body {
    background-color: rgb(27, 61, 80);
    font: 15pt Arial normal;
}

header {
    color: beige;
    text-align: center;
}

section {
    background-color: beige;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.904)
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: beige;
    text-align: center;
    font-style: italic;
}